// Variables

//
// custom-variables
//

// Vertical Sidebar - Default Light
$sidebar-bg: #ffffff;
$sidebar-menu-item-color: #707d8a;
$sidebar-menu-sub-item-color: #707d8a;
$sidebar-menu-item-icon-color: #707d8a;
$sidebar-menu-item-hover-color: rgb(36, 36, 133);
$sidebar-menu-item-active-color:rgb(36, 36, 133);
$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 180px;

// Font Weight
$fw-medium: 500;
$font-weight-semibold: 600;

$bg-gradient: linear-gradient(to right, #273c92, #293e92);
$primary: #ececec;
$white: #e6e6e6;

